*{
    margin:0;
    padding :0;
    box-sizing: border-box;
    /* background-color: #FFFBDE; */
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    color: #0B1D51;
}

/* -------------- Nav bar --------------- */
.nav{
    height : 50px;
    padding : 10px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: #DCD0A8;
}

.nav-option{
    display:flex;
    gap : 40px;
    cursor: pointer;
}

.nav i{
    color: #0056b3;
    font-size: 30px;
    cursor: pointer;
}

.nav-option p{
    color: #0056b3;
    font-size: 20px;
    font-weight: 600;
}

/* -------------- Intro --------------- */

main{
  background-color: #78B9B5;
  border-top : 0.5 px solid grey; 
}

main div{
    padding-top: 5px;
}
.discription{
       height : 800px;;
       width:80%;
       margin-left: 125px; 
       background-color: #FFFBDE;
     
}


.intro{
    display: flex;
    align-items: center;
    flex-direction : column;
    
}

.intro h1{
    padding: 4px 0 2px 0;
    font-weight: 500;
    color : #065084;
}

.intro h3{
    padding: 0 0 2px 0;
    font-weight: 300;
    
}

/* -------------- Quote --------------- */

.heading{
    color: #065084;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
}

.quote{
     /* background-image: url('https://tse4.mm.bing.net/th/id/OIP.PwBTz9353AQJIAS-micmwgHaEv?pid=Api&P=0&h=180');
     background-size: cover; */
     color : #065084;
     /* height : 50%;
     width: 70%; */
    font-style:italic;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}

.about-me{
  padding: 20px;
  color: #065084;
  margin-top: 30px;
  margin-bottom: 10px;

}

.skill {
  color: #065084;
  padding-left: 20px;
  
}

ul{
     list-style: disc inside;
}

form {
    padding-left: 20px;
  margin-top: 15px;
  color: #065084;
}

input, textarea {
  width: 90%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #065084;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Footer styling */
footer {
  background-color: #DCD0A8;
  color: #0056b3;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  /* margin-top: 50px; */
  height : 60px;
}

footer div {
  display: flex;
  align-items: center;
  gap: 10px;
}