

@media (max-width: 768px) {

  .nav {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
  }

  .nav-option {
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
  }

  .discription {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding: 10px;
  }

  .intro h1, .intro h3 {
    text-align: center;
    font-size: 1.2em;
  }

  .quote {
    font-size: 1em;
    text-align: center;
    padding: 10px;
  }

  .about-me, .skill, form {
    padding: 10px;
  }

  input, textarea {
    width: 100%;
  }

  footer {
    flex-direction: column;
    height: auto;
    align-items: flex-start;
    padding: 10px;
  }

  footer div {
    margin-bottom: 10px;
  }
}